.row {
    display: grid;
    grid-template-columns: 1fr 150px 150px 100px;
    column-gap: 2rem;
  }
  .container {
    max-width: 1140px;
    margin: auto;
  }
  input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.7rem;
    font-size: 1rem;

    &[type="checkbox"] {
      cursor: pointer;
    }

    &.err {
      border-color: #dc3545;
    }
  }
  button {
    border: 1px solid #ced4da;
    font-size: 1rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    max-height: 43px;
    position: relative;

    &:hover {
      background-color:floralwhite;
    }

    &:disabled {
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url('/images/spinner.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      height: 40px;
    }

    th,td {
      border: 1px solid #ced4da;
    }
  }
  section {
    margin: 2rem 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  strong {
    font-size: 1.2rem;
  }

  .column {
    width: 100%;
  }

  .error {
    display: block;
    text-align: left;
    padding-left: 0.7rem;
    color: #dc3545;
  }